
/*
@font-face {
    font-family: "Museo-BdCn_0";
    src: url('../fonts/Museo300-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Museo-Th_0";
    src: url('../fonts/Museo300-Regular.otf') format("truetype");
}

@font-face {
    font-family: "Museo-Light_0";
    src: url('../fonts/Museo300-Regular.ttf') format("truetype");
}
*/