.hm_links {
    list-style: none;
    padding: 21px 0 10px;
    text-align: right;
    width: 176px;
    margin: 0;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    background: #000;
    float: left;
    height: 250px;
}

.hovermenu {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 99;
    border-bottom: 4px solid #000;
    height: 0;
    overflow: hidden;
    top: 55px;
    transition: height .2s linear;
}



.display_hm {
    height: 250px;
}

.hm_news {
    width: 840px;
    margin: 15px 10px;
    height: 220px;
    overflow: hidden;
}

.siteMap {
    list-style: none;
    width: 70%;
    margin: 0 auto;
}

.siteMap_li {
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 4px);
    padding: 30px 0 20px;
}

.all_subCategories {
    list-style: none;
    margin: 0;
    margin-right: 30px;
    padding: 0;
}

.subCategories_li a {
    font-size: 14px;
    color: #e8392c;
    font-family: Helvetica;
    font-weight: 300;
    line-height: 1.6;
}

.first_subCategory_title a {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
}

li.category_li {
    padding: 20px 9px;
    font-size: 13px;
}

li.category_li1 {
    padding: 20px 9px;
    font-size: 13px;
}

li.subCategories_li a:hover {
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    text-decoration: underline;
}

li.subCategories_li.first_subCategory_title a:hover {
    color: #555;
    text-decoration: none;
}

ul.all_subCategories:before {
    background-color: rgba(0, 0, 0, 0.1);
    content: '';
    height: 100%;
    margin-left: -40px;
    position: absolute;
    top: 0;
    width: 1px;
}

ul.all_subCategories.first_subCategory:before {
    background-color: transparent;
}

.myLoading {
    padding: 20px;
}

.upload_photo {
    margin: 0 auto;
    font-size: 2.0rem;
    padding: 1.25rem 2.5rem;
    background-color: #009ac9;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline;
    left: -2%;
    font-family: Helvetica;
    width: 48%;
}

.upload_photo:hover {
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
}

.upload_video {
    margin: 0 auto;
    font-size: 2.0rem;
    padding: 1.25rem 2.5rem;
    background-color: #e8392c;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: inline;
    left: 2%;
    font-family: Helvetica;
    width: 48%;
}

.upload_video:hover {
    background-color: #ffffff;
    color: #e8392c;
    border-color: #e8392c;
}

.static_subMenu {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    font-family: Helvetica;
}

p.contact_us_p {
    padding-left: 40px;
}

.page_title_wrapper {
    position: relative;
    margin-top: 5px;
}

.page_title {
    font-size: 30px;
    color: #555;
    font-family: joq-t;
    padding-bottom: 15px;
}

.page_title:after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0px;
    height: 24px;
    width: 100%;
    z-index: 1;
    background: url('/assets/images/header_underline.png') bottom left repeat-x;
}

.pageContent {
    font-family: 'joq-n-light';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased !important;
    color: #333333;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
}

.upload_wrapper {
    padding: 40px;
    text-align: center;
}

.container.simple_container {
    background: #fff;
    min-height: 100%;
    padding: 0 30px;
}

a.joq_link {
    color: #c22228;
    font-family: joq-thin;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.6px;
}

.pageContent_wrapper {
    margin: 20px 0;
    max-width: 700px;
}

h4.contact_us_h4 {
    font-size: 18px;
    margin-top: 40px;
    color: #555;
    line-height: 2;
}

.vodSimpleCatBanner {
    width: 730px;
    margin: 10px auto 0;
}

.blue_text {
    color: #006598;
}
